.Result {
    width: calc(100% - 20px);
    height: auto;
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.Placement {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    font-size: 40px;
    text-align: center;
    line-height: 75px;
    background-color: #ffffff;
    font-family: 'Pacifico', cursive;
}

.DisplayName {
    width: calc(100% - 195px);
    height: 50px;
    margin-left: 25px;
    padding: 0 10px;
    border-radius: 20px;
    line-height: 50px;
    text-align: center;
    background-color: #ffffff;
    font-size: 30px;
    font-family: 'Texturina', serif;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.Indicator {
    width: 75px;
    font-size: 40px;
    text-align: center;
}

.You {
    color: rgb(236, 100, 75);
    animation: wheelHueColor 25s infinite;
}

@keyframes wheelHueColor {
    from, to { color: rgb(236, 100, 75); }
    16%      { color: rgb(219, 10, 91); }
    32%      { color: rgb(37, 116, 169); }
    48%      { color: rgb(22, 162, 134); }
    64%      { color: rgb(194, 176, 73); }
    80%      { color: rgb(243, 156, 18); }
}

@media (max-width: 500px) {
    .Placement {
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 28px;
    }

    .DisplayName {
        width: calc(100% - 145px);
        font-size: 24px;
    }
    
    .Indicator {
        width: 50px;
        font-size: 30px;
    }
}