.Modal {
    text-align: center;
    position: fixed;
    z-index: 500;
    background-color: #1d1d1d;
    border: 3px solid #ccc;
    padding: 16px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    word-break: break-word;
}